
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bgc{
    width: 80%;
    height: 700px;
    margin-left: 10%;
    overflow: hidden;
    background-color: black;
    background-size: cover;
}

.bgcin{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background-position: 0%;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
}

h2{
    padding-left: 50px;
    padding-top: 15px;
}

.maindiv{
    height: 500px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
    gap: 10%;
}

.leftmain{
    width: 70%;
    height: 100%;
    margin-top: 20px;
}


.foods{
    width: 80%;
    height: 120px;
    display: flex;
    gap: 30px;
}
.foods1{
    width: 80%;
    height: 120px;
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.foodpic{
    width: 130px;
    height: 120px;
}

.fooddet{
    width: 320px;
    height: 120px;
}

.foodname{
    width: 100%;
    height: 30px;
}

.foodname p{
    font-weight: bold;
}

.descf{
    width: 100%;
    height: 34px;
    margin-top: 5px;
    color: rgb(102, 96, 96);
    font-size: 14px;
}
.quan{
    width: 30px;
    height: 23px;
    border-radius: 6px;
    border: 1px solid rgb(219, 212, 212);
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 9px;
    padding-top: 2px;
    color: rgb(160, 151, 151);
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.button-group {
    display: flex;
    gap: 3px;
    margin-bottom: 20px;
}

.button-group div {
    flex: 1;
    padding: 10px 0;
    background-color: #ff4b4b;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 6px;
}

.button-group div:hover{
    border: 3px solid #ff4b4b;
    background-color: white;
    color: #ff4b4b;
}

.button-group .active {
    background-color: #ff4b4b;
    color: whitesmoke;
}

.total, .ready-time {
    margin-top: 50px;
    font-weight: bold;
    color: #333;
}

.total .amount {
    font-size: 24px;
    margin-top: 5px;
}

.ready-time .time {
    font-size: 22px;
    color: #666;
}

.payment-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.payment-icons div {
    width: 40px;
    height: 34px;
    border-radius: 5px;
}

#place-order-button {
    padding: 10px;
    margin-top: 50px;
    border: 2px solid #ff4b4b;
    color: #ff4b4b;
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#place-order-button:hover{
    background-color: rgb(213, 55, 55);
    color: whitesmoke;
}